.screencenter {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2; //in front of the spheres
}

.screencenter:after {
	content: "\274c";
}

.sphere {
	@include var(background-color, sphereColor);
	width: 9.090909%;
	height: 16.666667%;
	border-radius: 50%;
	position: absolute;
	left: 45.454545%;
	top: 41.666667%;
	animation: figure8 calc(4s / (var(--animation-speed) / 100)) linear infinite;
}

.shadow {
	position: absolute;
	width: 9.090909%;
	height: 100%;
	background: #000;
	border-radius: 50%;
	bottom: 2%;
	left: 45.454545%;
	filter: blur(2px);
	opacity: 0.4;
	animation: shadows calc(4s / (var(--animation-speed) / 100)) linear infinite;
}

#container {
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#sphere-container {
	position: relative;
	width: 440px;
	max-width: 100%;
	aspect-ratio: 11 / 6;
	margin-bottom: 2%;
}

#shadow-container {
	position: relative;
	width: 440px;
	max-width: 100%;
	aspect-ratio: 44 / 1;
}

.range-container {
	width: 440px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
}

#colorButton {
	width: 200px;
	height: 50px;
	background: rgb(29, 29, 131);
	border-radius: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.buttonText {
	font-size: 20px;
	color: white;
	-webkit-user-select: none; // Adds safari support for below
	user-select: none; //Disable highlighting text
	white-space: nowrap; //Disable word wrap
}

// Button turns lighter blue when clicked
#colorButton:active {
	background: hsl(240, 64%, 45%);
}

.slider-header {
	font-size: 24px;
	margin: 0;
}

.num-input {
	left: 50%;
	width: 92%;
}

#tickmarks {
	left: 50%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	justify-content: space-between;
	// writing-mode: vertical-lr;
	width: 94%;
	margin-top: 2px;
}

option {
	padding: 0;
	width: 24px;
	text-align: center;
}

input[type="range"] {
	margin: 0;
}