$numCircles: 6;
$sphereColor: #0f0;
$vars: ( sphereColor: #f00, numCircles: 6);
@mixin var($property, $variable) {
    #{$property}: map-get($vars, $variable);
    #{$property}: var(--#{$variable});
}

:root {
    @each $property,
    $value in $vars {
        --#{$property}: #{$value};
    }
}