$vars: (
	sphereColor: #f00,
	num-spheres: 6,
	animation-speed: 100
);

@mixin var($property, $variable) {
	#{$property}: map-get($vars, $variable);
	#{$property}: var(--#{$variable});
}

:root {

	@each $property,
	$value in $vars {
		--#{$property}: #{$value};
	}
}